.table1 {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    background-color: rgb(245, 245, 255);
    font-family: Arial;
}

.table1 th {
    border: 1px solid #C0C0C0;
    padding: 20px;
    background: #01072c;
    color: white;
    font-family: Arial;
}

.table1 td {
    border: 1px solid #C0C0C0;
    padding: 20px;
}